h1, h2, h3, h4, h5 {
    font-weight: 300;
}

.fullheight {
    height: 100%;
}
.nav{
    position: fixed;
    top:5px;
    left:25px;
    width: 100%;
    height: auto;

}
.big{
    font-size: 1em;
    vertical-align: middle;
}
.bold{
    font-weight: bold;
}
.history{
    max-height: 300px;
}
.graph {
    height: 250px;
    width: 100%;
    margin-bottom: 100px;
}